*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
body{
    padding-top: 5vh;
    background-color: aqua;
    background-size: cover;
    background-position-y: 0px;

}
.logon-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    opacity:85%;
    text-align: center;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30;
}

.logon-container section.form form {
    
    margin-top: 100 px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form a {
    display: flex;
    align-items: certer;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
    
}

.logon-container section.form form a svg {
    margin-right: 8px;
    
}

.logon-container section.form form a:hover {
    
    opacity: 0.8;
}