*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
input,label{
    display: block;
    width: 100%;
}
input:focus,label:focus{
    outline: none;

}
body{
    /*padding-top: 5vh;
    background-image: url('imagens/fundoteste.jpg');*/
    background-size: cover;
    background-position-y: 0px;

}
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    opacity:85%;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-box{
    flex: 1 1 100%;
    position: relative;
}
/*.half-box{
    flex: 1 1 45%;
    position: relative;
}*/
label{
    font-weight: bold;
    font-size: .8rem;
}
input{
    border-bottom: 2px #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}
input[type="submit"]{
    background-color: #a09b9b;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}
#checkboxSim, #checkboxSim-label{
    display: inline-block;
    width: auto;
}
#checkboxNao, #checkboxNao-label{
    display: inline-block;
    width: auto;
}
