* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

Button {
    margin-top: 50px;
}

input,
label {
    display: block;
    width: 100%;
}

input:focus,
label:focus {
    outline: none;

}

body {
    /*padding-top: 5vh;
    background-image: url('imagens/fundoteste.jpg');*/
    background-size: cover;
    background-position-y: 0px;
    background-color: #323232;
}

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 15px;
    opacity: 85%;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}


label {
    margin-top: 20px;
    color: aliceblue;
    font-weight: bold;
    font-size: 0.9rem;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2330;
        color: #f0ece2;
    }

    label{
        
    }

    h1 {
        color: #7579e7;
    }

    h3 {
        color: #69779b;
    }

    img {
        filter: brightness(0.9);
    }
}


@media (prefers-color-scheme: light) {
    body {
        background-color: #cac4ce;
    }
}